.greeting {
    color: blue;
    font-family: Arial, sans-serif; 
    text-align: center;
    margin-top: 50px;
}

.info-image {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.info-container {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: auto;
    margin: 0 auto;
}

div {
    display: flex;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(243, 239, 239);
    /* width: 300px; */
    margin: 0 auto;
    flex-wrap: wrap;
}

.info-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}

